@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: #0363f0,
	$secondary: #ffa100,
	$surface: #f8f8fa,
	$background: #e3e2d9,
	$error: color-palette.$red-500
);

@use './app';

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
